body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    display: inline-block;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1.0rem;
}
.btn-container{
    justify-content: center;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.flash{
    background-color: white;
    transition: background-color 0.3s ease;
}
.userflash{
    background-color: black;
    transition: background-color 0.3s ease;
}
